* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
 }

body {
  font-weight: 500;
  font-style: normal;
  font-weight: 700;
  background-color: lightsteelblue;
}

:root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  padding: 20px;
}

h1 {
  text-transform: capitalize;
  color: rgb(47, 27, 2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

p {
  text-align: justify;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: rgba(250, 153, 94, 0.912);
  padding: 5px;
}

.nav ul {
  display: flex;
  margin-left: 120px;

}

.nav ul li {
  display: block;
  padding: 15px;
  text-decoration: none;

}

.nav ul li:hover {
  background-color: gold;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.CardProducto {
  padding-bottom: 15px;
  padding-left: 15px;
}

.Categoria {
  padding-bottom: 15px;
  padding-left: 15px;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}